/*GridView*/
.mydatagrid {
    width: 80%;
    border: solid 2px black;
    min-width: 80%;
}

.header {
    background-color: #04091e;
    font-family: Arial;
    color: White;
    height: 25px;
    text-align: center;
    font-size: 16px;
}

.rows {
    background-color: #fff;
    font-family: Arial;
    font-size: 14px;
    color: #000;
    min-height: 25px;
    text-align: left;
}

    .rows:hover {
        background-color: #fab700;
        color: #fff;
    }

.mydatagrid a /** FOR THE PAGING ICONS **/ {
    background-color: Transparent;
    padding: 5px 5px 5px 5px;
    color: #fff;
    text-decoration: none;
    font-weight: bold;
    text-align: center;
    display: block;
}

    .mydatagrid a:hover /** FOR THE PAGING ICONS HOVER STYLES**/ {
        background-color: #04091e;
        color: #fff;
        text-align: center;
    }

.pager {
    background-color: #fab700;
    font-family: Arial;
    color: White;
    height: 30px;
    text-align: left;
}

.mydatagrid td {
    padding: 5px;
}

.mydatagrid th {
    padding: 5px;
}


.close {
    position: absolute;
    right: 32px;
    top: 32px;
    width: 32px;
    height: 32px;
    opacity: 0.5;
}

    .close:hover {
        opacity: 1;
    }

    .close:before, .close:after {
        position: absolute;
        left: 15px;
        content: ' ';
        height: 33px;
        width: 2px;
        background-color: #333;
    }

    .close:before {
        transform: rotate(45deg);
    }

    .close:after {
        transform: rotate(-45deg);
    }

#centerTxt {
    text-align: center;
    display: block;
}

.header {
    background-color: #04091e;
}

.mydatagrid a:hover /** FOR THE PAGING ICONS HOVER STYLES**/ {
    background-color: #04091e;
}

.centerform {
    margin-left: 70px;
}

body {
    background: #04091e;
}

#table1 {
    margin-left: 620px;
    margin-right: 30px;
    margin-top :75px;
}

.wrap-login100 {
    width: 1120px;
    background: white;
    border-radius: 10px;
    padding: 40px;
    margin-top: 105px;
    margin-bottom: 10px;
    height: 380px;
}

.button {
    background-color: #fab700;
    color: white;
    height: 30px;
    border: 0px;
}

    .button:hover {
        background: #04091e;
    }

@media screen and (min-height: 700px) {
    .wrap-login100 {
        margin-top: 140px;
    }
}

#form1 {
    margin-top: 3%;
}

.datepicker {
    display: inline-block;
    width: 215px;
    padding: 5px;
    font-family: "Open Sans", sans;
    font-weight: 400;
    color: black;
    background: #efefef;
    border: 0;
    border-radius: 3px;
    outline: 0;
    text-indent: 10px;
}

.designTxt {
    display: inline-block;
    width: 215px;
    padding: 5px;
    font-family: "Open Sans", sans;
    font-weight: 400;
    color: black;
    background: #efefef;
    border: 0;
    border-radius: 3px;
    outline: 0;
    text-indent: 10px;
}

.modalBackground {
    background-color: Black;
    filter: alpha(opacity=40);
    opacity: 0.4;
    width: 100%;
}

.modalPopup {
    width: 100%;
    margin-left: 145px;
}
